function Main.main 1
call BubbleGame.newInstance 0
pop temp 0
call BubbleGame.getInstance 0
pop local 0
push local 0
call BubbleGame.run 1
pop temp 0
push local 0
call BubbleGame.dispose 1
pop temp 0
push constant 0
return
