function Ship.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 3
push constant 256
pop this 1
push constant 128
pop this 2
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawUp 2
pop temp 0
push pointer 0
return
function Ship.shipX 0
push argument 0
pop pointer 0
push this 1
return
function Ship.shipY 0
push argument 0
pop pointer 0
push this 2
return
function Ship.shipDirection 0
push argument 0
pop pointer 0
push this 3
return
function Ship.fireBullet 1
push argument 0
pop pointer 0
push this 1
push this 2
push this 3
call Bullet.new 3
pop local 0
push constant 0
return
function Ship.turnLeft 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
not
if-goto label2
push constant 4
pop this 3
push pointer 0
push this 0
call Ship.drawLeft 2
pop temp 0
goto label1
label label2
push this 3
push constant 4
eq
not
if-goto label4
push constant 3
pop this 3
push pointer 0
push this 0
call Ship.drawDown 2
pop temp 0
goto label3
label label4
push this 3
push constant 3
eq
not
if-goto label6
push constant 2
pop this 3
push pointer 0
push this 0
call Ship.drawRight 2
pop temp 0
goto label5
label label6
push this 3
push constant 2
eq
not
if-goto label8
push constant 1
pop this 3
push pointer 0
push this 0
call Ship.drawUp 2
pop temp 0
goto label7
label label8
label label7
label label5
label label3
label label1
push constant 0
return
function Ship.turnRight 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
not
if-goto label10
push constant 2
pop this 3
push pointer 0
push this 0
call Ship.drawRight 2
pop temp 0
goto label9
label label10
push this 3
push constant 2
eq
not
if-goto label12
push constant 3
pop this 3
push pointer 0
push this 0
call Ship.drawDown 2
pop temp 0
goto label11
label label12
push this 3
push constant 3
eq
not
if-goto label14
push constant 4
pop this 3
push pointer 0
push this 0
call Ship.drawLeft 2
pop temp 0
goto label13
label label14
push this 3
push constant 4
eq
not
if-goto label16
push constant 1
pop this 3
push pointer 0
push this 0
call Ship.drawUp 2
pop temp 0
goto label15
label label16
label label15
label label13
label label11
label label9
push constant 0
return
function Ship.moveForward 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Ship.clearLocation 2
pop temp 0
push this 3
push constant 1
eq
not
if-goto label18
push this 2
push constant 16
sub
pop this 2
push this 2
push constant 8
lt
not
if-goto label20
push constant 240
pop this 2
goto label19
label label20
label label19
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawUp 2
pop temp 0
goto label17
label label18
push this 3
push constant 2
eq
not
if-goto label22
push this 1
push constant 16
add
pop this 1
push this 1
push constant 512
gt
not
if-goto label24
push constant 0
pop this 1
goto label23
label label24
label label23
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawRight 2
pop temp 0
goto label21
label label22
push this 3
push constant 3
eq
not
if-goto label26
push this 2
push constant 16
add
pop this 2
push this 2
push constant 240
gt
not
if-goto label28
push constant 0
pop this 2
goto label27
label label28
label label27
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawDown 2
pop temp 0
goto label25
label label26
push this 3
push constant 4
eq
not
if-goto label30
push this 1
push constant 16
sub
pop this 1
push this 1
push constant 10
lt
not
if-goto label32
push constant 512
pop this 1
goto label31
label label32
label label31
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawLeft 2
pop temp 0
goto label29
label label30
label label29
label label25
label label21
label label17
push constant 0
return
function Ship.moveBackward 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Ship.clearLocation 2
pop temp 0
push this 3
push constant 1
eq
not
if-goto label34
push this 2
push constant 16
add
pop this 2
push this 2
push constant 240
gt
not
if-goto label36
push constant 0
pop this 2
goto label35
label label36
label label35
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawUp 2
pop temp 0
goto label33
label label34
push this 3
push constant 2
eq
not
if-goto label38
push this 1
push constant 16
sub
pop this 1
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawRight 2
pop temp 0
goto label37
label label38
push this 3
push constant 3
eq
not
if-goto label40
push this 2
push constant 16
sub
pop this 2
push this 2
push constant 0
lt
not
if-goto label42
push constant 240
pop this 2
goto label41
label label42
label label41
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawDown 2
pop temp 0
goto label39
label label40
push this 3
push constant 4
eq
not
if-goto label44
push this 1
push constant 16
add
pop this 1
push this 2
push constant 32
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 0
push pointer 0
push this 0
call Ship.drawLeft 2
pop temp 0
goto label43
label label44
label label43
label label39
label label37
label label33
push constant 0
return
function Ship.drawUp 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 320
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 544
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4100
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8194
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Ship.drawRight 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1280
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2304
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4352
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8576
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16768
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16768
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8576
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4352
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2304
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1280
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Ship.drawDown 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1984
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16388
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8200
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4112
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2080
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1088
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 640
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 256
call Memory.poke 2
pop temp 0
push constant 0
return
function Ship.drawLeft 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 160
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 144
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 136
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 388
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 386
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 385
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 386
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 388
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 136
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 144
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 160
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 64
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Ship.clearLocation 2
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push constant 0
pop local 1
label label45
push local 1
push constant 16
lt
not
if-goto label46
push local 0
push local 1
push constant 32
call Math.multiply 2
add
call Memory.poke 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto label45
label label46
push constant 0
return
function Ship.destroyShip 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Ship.clearLocation 2
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
