function RandomArray.getArray 2
call RandomArray.initialize_array 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 6
lt
not
if-goto WHILE_END0
push local 0
push constant 0
push constant 32
call LCGRandom.randRange 2
call RandomArray.place_bomb 2
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function RandomArray.initialize_array 2
push constant 32
call Array.new 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 32
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push constant 99
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function RandomArray.place_bomb 2
push argument 1
push constant 15
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 1
goto IF_END0
label IF_FALSE0
push constant 1
neg
pop local 1
label IF_END0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push argument 1
push argument 0
add
pop pointer 1
push that 0
push constant 11
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push local 1
add
pop argument 1
goto IF_END1
label IF_FALSE1
push argument 1
push argument 0
add
push constant 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop local 0
label IF_END1
push argument 1
push constant 31
gt
push argument 1
push constant 0
lt
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop argument 1
label IF_FALSE2
push argument 0
return
goto WHILE_EXP0
label WHILE_END0
